@import "_utilities";

$responsive-nav-width : 45vh;
$responsive-nav-height : 84vh;

@media screen and (max-width: 1150px) {

  body {
    overflow-x: hidden;
  }

  header {
    #hamburger {
      display: block;
    }

    #navbar-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0px;
      top: (100 - $responsive-nav-height);
      width: $responsive-nav-width;
      min-height: $responsive-nav-height;
      margin: 0;
      background: #0076db;
      padding-left: 0;

      //width of each element to be the width of the navbar
      li {
        width: $responsive-nav-width;
        text-align: center;
        padding: 1rem 0; //space out vertically but not horizontally so when we hover the width is the same as the
        // navbar width
      }

      .dropdown {
        text-align: center;
      }

      .dropdown-click {
          background: #80b1ff;
          margin: 0;
         a {
           border: 1px solid black; //temporary
           display: flex;
           flex-flow: column wrap;
           padding: 0.5rem;
         }

      }
    }
  }
  //this class is going to be added to the nav when we click on the burger through JS
  .nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }

  .resize-animation-stopper {
    transition: none!important;
  }

  .nav-inactive {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}

