@import "_utilities";
@import "_mediaqueries.scss";

//Removed automatic margin
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
  line-height: 1.6rem;
  font-size: 1.2rem;
}


//just extends %link which removes text-decoration & change opacity on hover
a {
  @extend %link;
}

//placing the img logo
#logo {
  padding-right: 1rem;
  width: 5rem;
  height: 5rem;
  margin: auto 0;
}

header {
  //allows us to see where the header stops
  height: (100 - $responsive-nav-height);
  width: 100%;
  background: #005AA7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  z-index: 1;
  white-space: nowrap;

  #brand a {
    display: flex;
  }

  //the navbar
  nav {
    display: flex;
    justify-content: space-around;

    ul {
      list-style: none;
      display: flex;
      height: 4rem;
    }
  }

  li {
    padding: 1rem;
    &:hover {
      background-color: lightgrey;
    }
  }
}

.text-title {
  margin-left: 2rem;
}

//basically places the text to the left and the img to the right
.text-left {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  //Section contains the text
  section {
    margin: 0 0 0 4rem;
  }

  img {
    justify-self: center;
  }

  div {
    align-self: center;
  }
}


.container-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;

  //iframe is the google map
  iframe {
    justify-self: center;
  }
}

#adeli {
  max-width: 200px;
  max-height: 200px;
}

#adeli-text {
  text-align: center;
  align-self: center;
}

/* handling dropdown : position absolute to avoid moving other elements / display set to none
display : block on hover (which is the default value) */

.dropdown {
  position: relative;
  display: inline-block;
  @media only screen and (min-width: 1150px) {
      &:hover {
        .dropdown-content {
          display: block;
        }
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #80b1ff;  /* fallback for old browsers */
  min-width: 15rem;
  margin: 0;
  a {
    border: 1px solid black;
    display: block;
    padding: 1rem;
    &:hover {
      background-color: lightgrey;
    }
  }
}

#hamburger {
  align-self: center;
  display: none;
  &:hover {
    cursor: pointer;
  }
  div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin-bottom: 6px;
  }
}





