@import "_utilities";
@import "_mediaqueries.scss";

//Removed automatic margin
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
  line-height: 1.6rem;
  font-size: 1.2rem;
  //background-color: darkgrey;
}

//whole content is inside a div (to allow margins on both side)
/*.global-container {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
  box-shadow: 0.3em 0.3em 0.3em, -0.3em 0.3em 0.3em;
}*/


//just extends %link which removes text-decoration & change opacity on hover
a {
  @extend %link;
}

//placing the img logo
#logo {
  padding-right: 1rem;
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: auto 0;
}


header {
    //allows us to see where the header stops
    height: 15vh;
    border-bottom: 0.5px solid darkgrey;

    //container with logo/title & navbar
    div:first-child {

      display: flex;
      justify-content: space-around;

      //the whole logo is a link to current page
      a {
        display: flex;
      }
    }

    //the navbar
    ul {
      display: flex;
      list-style: none;
    }

    li {
      padding: 1rem;
    }
}

/*animated underline from middle to sides
container has position relative and the underline is position absolute in order to place it right under with bottom 0
we set the width to 100% to match the text, background color for the underline color and the height
we scale it to 0 and set it to hidden, with the transition watching the transform
on hover, we simply change the transform to scale 1 and set it to visible*/

.left-underline {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.25s linear;
    visibility: hidden;
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}


.text-title {
  margin-left: 2rem;
}

//basically places the text to the left and the img to the right
.text-left {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  //Section contains the text
  section {
    margin: 0 0 0 4rem;
  }

  img {
    justify-self: center;
  }

  div {
    align-self: center;
  }
}


.container-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;

  //iframe is the google map
  iframe {
    justify-self: center;
  }
}

#adeli {
  max-width: 200px;
  max-height: 200px;
}

#adeli-text {
  text-align: center;
  align-self: center;
}

/* handling dropdown : position absolute to avoid moving other elements / display set to none
display : block on hover (which is the default value) */
.dropdown {
  div {
    display: none;
    position: absolute;
    text-align: center;
    a {
      border: 1px solid black;
      background-color: grey;
    }
  }
  &:hover {
    div {
      display: block;
    }
  }
}




