@import "_utilities";

//Removed automatic margin
body {
  margin: 0;
  font-family: Arial, Helvetica;
  line-height: 1.6rem;
  font-size: 1.2rem;
  background-color: darkgrey;
}

//whole content is inside a div (to allow margins on both side)
.global-container {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 70%;
  box-shadow: 0.3em 0.3em 0.3em, -0.3em 0.3em 0.3em;
}


//just extends %link which removes text-decoration & change opacity on hover
a {
  @extend %link;
}

//placing the img logo
#logo {
  padding-right: 1rem;
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: auto 0;
}


header {
    //allows us to see where the header stops
    height: 150px;
    border-bottom: 0.5px solid darkgrey;

    //container with logo/title & navbar
    div:first-child {

      display: flex;
      justify-content: space-between;

      //the whole logo is a link to current page
      a {
        display: flex;

        &:visited {
          color : black;
        }
      }
    }

    //the navbar
    ul {
      display: flex;
      list-style: none;
      //the links
      a {
        color: black;
      }
    }

    li {
      padding: 1rem;
    }
}


.text-title {
  margin-left: 2rem;
}

//basically places the text to the left and the img to the right
.text-left {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  //Section contains the text
  section {
    margin: 0 0 0 4rem;
  }

  img {
    justify-self: center;
  }

  div {
    align-self: center;
  }
}


.container-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;

  //iframe is the google map
  iframe {
    justify-self: center;
  }
}

#adeli {
  max-width: 200px;
  max-height: 200px;
}

#adeli-text {
  text-align: center;
  align-self: center;
}


.dropdown-content {
  z-index: 1;
}




