@import "utilities";

$responsive-nav-width : 45vh;
$header-height : 7rem;

@media screen and (max-width: 1150px) {

  body {
    overflow-x: hidden;
  }

  header {
    #hamburger {
      display: block;
    }

    #navbar-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: $header-height;
      width: $responsive-nav-width;
      min-height: 100vh;
      margin: 0;
      background: #0076db;
      padding-left: 0;

      //width of each element to be the width of the navbar
      li {
        width: $responsive-nav-width;
        text-align: center;
        padding: 1rem 0; //space out vertically but not horizontally so when we hover the width is the same as the
        // navbar width
      }

      .dropdown {
        text-align: center;
      }

      .dropdownbtn {
        margin-left: auto;
        margin-right: auto;
      }

      .dropdown-click {
          background: #80b1ff;
          margin: 0;
         a {
           border: 1px solid black; //temporary
           display: flex;
           flex-flow: column wrap;
           padding: 0.5rem;
         }

      }
    }
  }
  //this class is going to be added to the nav when we click on the burger through JS
  .nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }

  .resize-animation-stopper {
    transition: none!important;
  }

  .nav-inactive {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .hamburger-active {
    #hamburger1 {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: 0.5s ease-in-out;
      position: absolute;
    }
    #hamburger2 {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: 0.5s ease-in-out;
      position: absolute;
    }
    #hamburger3 {
      opacity: 0;
    }
  }

}

