#conteneur
{
	color : red;
}


main
{
    margin: 5%;
    margin-top: 0;
    padding: 1%;
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-color: #38444d;
    background-color : #192734;
}

body
{
    background-color : #002233;
    color:#ffffff;
    font: 1.2em "Calibri", sans-serif;
}

#userInput
{
    margin-left: 3%;
}

input[type=button]
{
    width: 10%;
}

#myText
{
    margin-left: 6%;
}

#button
{
    margin-left: 10%;
}

td 
{
    width: 50px;
    height: 50px;
}

#table_deux {
    border : solid;
    border-collapse: collapse;
}


#bloc_trois_un {
    background-color: white;
}

#bloc_trois_deux {
    background-color: black;
}

table
{
    text-align: center;
}

#myDIV2
{
    margin-top: 3%;
    margin-left: 2%;
}
