@tailwind base;

@tailwind components;

@tailwind utilities;

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation : spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

.active {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 900;
}

.success {
    text-align: center;
    background-color:  #f0fff4;
    border-width: 1px;
    border-color: #68d391;
    color: #2f855a;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    position: relative;

}

.error {
    text-align: center;
    background-color: #fff5f5;
    border-width: 1px;
    border-color: #fc8181;
    color: #c53030;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    position: relative;
}

.clip-polygon-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%, 0 53%);
}

.clip-polygon-top {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%, 0 53%);
}

.bg-color-primary {
    background-color: #E3E2DF;
}

.bg-color-primary-2 {
    background-color: #5D001E;
}

.bg-color-primary-3 {
    background-color: #EE4C7C;
}

.bg-color-primary-opacity-90 {
    background-color: rgba(227,226,223,0.90);
}

.color-primary {
    color : #E3E2DF;
}

.color-primary-2 {
    color: #EE4C7C
}

.color-primary-3 {
    color: #9A1750;
}

.bg-color-secondary {
    background-color: #BAB8B2;
}

.border-button {
    border : 1px solid #9A1750;
}



.pin-top {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.pin-bottom {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 20%);
}

.pin-top-left {
    top: 10%;
    left: 20%;
    transform: translate(-20%, -10%);
}

.color-linkedin {
    color: #1293D2;
}

.pin-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


